<!DOCTYPE html>
<html>
	<head>
		<title>troller_main - {% block title %}home{% endblock %}</title>
		<style type="text/css">
		body {
		}
		#content {
			position:absolute; top:0; bottom:0; left:20%; right:0;
			padding: 20px;
			text-align: center;
		}
		#sidebar {
			position:absolute; top:0; bottom:0; left:0; right:80%;
			background: #9cf;
			padding: 20px;
		}
		#sidebar ul {
			list-style-type:none;
		}
		</style>
	<head>

	<body>
		<div id="sidebar">
			<ul>
				<li><a href="{% url "home" %}">home</a></li>
				<li><a href="{% url "screenshots" %}">screenshots</a></li>
				<li><a href="{% url "backing" %}">backing</a></li>
			</ul>
		</div>
		<div id="content">
       	{% block content %}
			Homepage
		{% endblock %}
    	</div>
	</body>
</html>
